<%= form_with(model: [@bill, @bill.items.new ], local: true) do |form| %>
  <td><%= form.submit %></td>
  <td>
    <%= form.text_field :name, class: "input-group" %>
  </td>
  <td>
    <%= form.text_field :amount, class: "input-group" %>
  </td>
  <td>
    <%= form.collection_select :person_id, @bill.people, :id, :name, class: 'input-group' %>
  </td>
<% end %>