<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
       <th scope="col">Amount</th>
       <th scope="col">Person</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @bill.items.each_with_index do |item, idx| %>
        <th scope="row"><%= idx + 1%></th>
        <td><%= item.name %></td>
        <td><%= item.amount %></td>
        <td><%= item.person.name %></td>
      <% end %>
    </tr>
      <tr><%= render 'items/form' %></tr>
  </tbody>
</table>
</div>